<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishbone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="header">
        <div class="header-container">
            <img src="../resource/headerpic.svg" width="220px" height="19px" alt="">
            <div class="header-right">
                <p class="header-p">Projects</p>
                <p class="header-p">About</p>
                <p class="header-p">News</p>
                <p class="header-p">Team</p>
                <p class="header-p">Contact</p>
                <div class="get-template">
                    <p class="header-p">Get template</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="read-container">
            <div class="left-read-container">
                <div class="description-left-read-container">
                    <p class="header-p">WISHBONE + PARTNERS</p>
                    <h1>The home of beautiful architecture</h1>
                    <p class="header-p2">We are an architecture firm with a focus on beautiful but functional design. At
                        its heart, we believe design is about usability and accessibility — these are the guiding
                        principles for our work. Read more about our previous projects, our process and our team below.
                    </p>
                    <div class="read-more">
                        <p class="header-p">Read More</p>
                    </div>

                </div>
            </div>
            <div class="right-read-container"><img src="../resource/forestpic.svg" width="720px" height="720px" alt="">
            </div>
        </div>


        <div class="ourfirm-main-container">
            <div class="ourfirm-container">
                <div class="ourfirm-h2">
                    <h2>Our firm</h2>
                </div>
                <div class="ourfirm-container-right">
                    <p class="header-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                        in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                        commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.</p>
                    <p class="header-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                        in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                        commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.</p>
                    <p class="header-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
                        in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                        commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        Nunc ut sem vitae risus tristique posuere.</p>
                    <div class="ourfirm-ceo">
                        <img src="../resource/stephencoller.svg" width="84px" height="84px" alt="">
                        <div class="stephen-post">
                            <p class="stephen-collier">Stephen Collier</p>
                            <p class="senior-partner">Senior Partner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reeding-house-main-container">
            <img class="redding-house-img" src="../resource/reedinghouse.svg" alt="">
            <div class="reeding-house-container">
                <p class="header-p">REEDING HOUSE</p>
                <p class="header-p2">Lorem ipsum dolor sit amet, dolor sit amet dolor sit amet.</p>
            </div>
        </div>

        <div class="our-process-main-container">
            <div class="our-process-container">
                <div class="upper-container">
                    <p class="header-p">OUR PROCESS</p>
                    <p class="header-p2">How we do what we do</h1>
                </div>
                <div class="lower-container">
                    <div class="sketching">
                        <img src="../resource/sketching.svg" width="117px" height="117px" alt="">
                        <div class="lower-container-info">
                            <p class="our-proccess-p-upper">Sketching</p>
                            <p class="our-proccess-p-lower">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.
                                Nulla ut<br> tristique libero. Nulla luctus sapien ac <br>arcu tempor, vitae tempor leo
                                iaculis.</p>

                        </div>
                    </div>

                    <div class="finalizing">
                        <img src="../resource/finalizing.svg" width="117px" height="117px" alt="">
                        <div class="lower-container-info">
                            <p class="our-proccess-p-upper">Finalizing</p>
                            <p class="our-proccess-p-lower">Adipiscing elit. Nulla ut tristique <br> libero. Nulla vitae
                                tempor leo iaculis <br> luctus sapien ac arcu tempor, vitae.</p>

                        </div>
                    </div>


                    <div class="building">
                        <img src="../resource/building.svg" width="117px" height="117px" alt="">
                        <div class="lower-container-info">
                            <p class="our-proccess-p-upper">Building</p>
                            <p class="our-proccess-p-lower">Nulla ut tristique libero. Lorem <br> ipsum ut tristique
                                libero. Nulla <br> luctus sapien ac arcu tempor, vitae <br> lorem ipsum dolor leo
                                iaculis.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reeding-house-main-container">
            <img class="redding-house-img" src="../resource/themarblestarcase.svg" alt="">
            <div class="reeding-house-container">
                <p class="header-p">THE MARBLE STAIRCASE</p>
                <p class="header-p2">Lorem ipsum dolor sit amet, dolor sit amet dolor sit amet.</p>
            </div>
        </div>

        <div class="customers-main-container">
            <div class="customers-container">
                <div class="customers-info">
                    <p class="header-p">PRIOR CLIENTS</p>
                    <p class="header-p3">Happy customers</h2>
                    <p class="header-p2">Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula. Vestibulum
                        sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
                </div>
                <div class="customers-logo">
                    <img class="customer-svg" width="128px" height="100px" src="../resource/customer1.svg">
                    <img class="customer-svg" width="128px" height="100px" src="../resource/customer3.svg">
                    <img class="customer-svg" width="128px" height="100px" src="../resource/customer2.svg">
                    <img class="customer-svg" width="128px" height="100px" src="../resource/customer4.svg">
                </div>

            </div>
        </div>

        <div class="reversed-feature">
            <div class="reeding-house-main-container">
                <img class="redding-house-img" src="../resource/theswirlingstaircase.svg" alt="">
                <div class="reeding-house-container">
                    <p class="header-p">THE SWIRLING STAIRCASE</p>
                    <p class="header-p2">Lorem ipsum dolor sit amet, dolor sit amet dolor sit amet.</p>
                </div>
            </div>
        </div>

        <div class="featured-projects-main-container">
            <div class="featured-projects-container">
                <div class="featured-projects-info">
                    <p class="header-p">Featured projects</p>
                    <p class="header-p2">Some of the latest and greatest projects from us <br> here at
                        Wishbone+Partners.</p>
                </div>

                <div class="featured-projects-pics">
                    <img src="../resource/featured-projects-1.svg" width="379px" height="460px" alt="">
                    <img src="../resource/featured-projects-2.png" width="379px" height="460px" alt="">
                    <img src="../resource/featured-projects-3.svg" width="379px" height="460px" alt="">
                    <div class="featured-projects-pics-text">
                        <p class="header-p">NEW YORK</p>
                        <p class="header-p2">Big Road Brewery</p>
                    </div>

                    <div class="featured-projects-readmore">
                        <p class="header-p">Read more</p>
                    </div>
                </div>

                <div class="featured-projects-button">
                    <p class="header-p">View all projects</p>
                </div>
            </div>
        </div>


        <div class="meetourteam-main-container">
            <div class="meetourteam-container">
                <div class="meetourteam">
                    <p class="meet-our-team-font">Meet our team</p>
                    <p class="meet-our-team-desc-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis.</p>
                    <div class="see-team">
                        <p class="see-team-font">See team</p>
                    </div>
                </div>


                <div class="team-info">


                    <div class="team-member">
                        <img src="../resource/stephencoller.svg" width="84px" height="84px" alt="">
                        <div class="member-name">
                            <p class="member-name-font">Stephen Collier</p>
                            <p class="member-post-font">Senior Partner</p>
                        </div>
                    </div>



                    <div class="team-member">
                        <img src="../resource/nolan-peters.svg" width="84px" height="84px" alt="">
                        <div class="member-name2">
                            <p class="member-name-font">Nolan Peters</p>
                            <p class="member-post-font">Associate</p>
                        </div>
                    </div>



                    <div class="team-member">
                        <img src="../resource/ferris-wonder.svg" width="84px" height="84px" alt="">
                        <div class="member-name3">
                            <p class="member-name-font">Ferris Wonder</p>
                            <p class="member-post-font">Associate Partner</p>
                        </div>
                    </div>


                    <div class="team-member">
                        <img src="../resource/aria-stone.svg" width="84px" height="84px" alt="">
                        <div class="member-name4">
                            <p class="member-name-font">Aria Stone</p>
                            <p class="member-post-font">Senior Partner</p>
                        </div>
                    </div>


                    <div class="team-member2">
                        <img src="../resource/niko-ferry.svg" width="84px" height="84px" alt="">
                        <div class="member-name5">
                            <p class="member-name-font">Niko Ferry</p>
                            <p class="member-post-font">Partner</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="get-in-touch-container">
            <div class="get-in-touch">
                <div class="left-get-in-touch">
                    <p class="zaebalsya1">GET IN TOUCH</p>
                    <p class="zaebalsya2">Think we would be a good fit for your next project?</p>
                </div>
                <div class="right-get-in-touch-div">
                    <p class="right-get-in-touch">Get in touch</p>
                </div>
            </div>
        </div>
    </main>

    <footer>

        <div class="footer-container">
            <div class="footer-left-block">
                <img class="imgsuka" src="../resource/Wishbone-Logotype-Dark.svg" width="256px" height="22px" alt="">
                <p class="footer-font">Powered by Webflow.</p>
                <p class="footer-font">All rights reserved Wishbone+Partners, Inc. Licensing.</p>
            </div>

            <div class="imgs">
                <img src="../resource/twitter.svg" width="24px" height="25px" alt="">
                <img src="../resource/instagram.svg" width="24px" height="25px" alt="">
                <img src="../resource/facebook.svg" width="24px" height="25px" alt="">
            </div>
        </div>

    </footer>

</body>

</html>